body {
    background: #ffffff;
    margin: 0;
    height: 100%;
    color: #606060;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    margin-top: 100px;
}

h1 {
    font-size: 41px;
    color: #5a4099;
}

h2 {
    font-size: 30px;
    color: #5a4099;
}

h3 {
    font-size: 20px;
    color: #f15d20;
}

.right {
    text-align: right;
}
